<div class="overlay-form">
  <form 
  class="container" 
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="row">
    <div class="col form-cover z-depth-1" id="panell">
      <h3 id="title">Login Form</h3>
        <div class="input-field" id="email">
          <input type="text" formControlName="email" placeholder='Email' class="validate">
          <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="helper-text red-text">Please enter a valid email</span>
        </div>
        <div class="input-field" id="password">
          <input type="password" formControlName="password" placeholder='Password' class="validate">
          <span *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="helper-text red-text">Please enter a valid password</span>
        </div>
        <button 
          type="submit"
          class="waves-effect waves-light btn indigo darken-1 margin-button" 
          id="loginbtn"
          [disabled]="form.invalid || form.disabled"
        >Login</button>
    </div>
  </div>
</form>
</div>


<br>
<div>canon@gmail.com</div>
<div>calgary@gmail.com</div>
<div>viktoria@gmail.com</div>
<br>
<div>включи CORS</div>