<div class="backdrop-modal-window">
    <div class="modal-window">
        <!-- <h1>Create todolist form</h1>
        <button (click)="close()" class="btn">Close</button>
        <button (click)="submit()" class="btn">Submit</button> -->
        <div>
            <form 
            [formGroup]="form"
            (ngSubmit)="submit()">
              <div class="row">
                <div class="input-field col s12">
                    <input maxlength="170" formControlName="title" class="validate" required placeholder="your todo...">
                </div>
              </div>
              <button [disabled]="form.invalid" class="btn indigo darken-1 close-btn">Submit</button> 
            </form>
            <button (click)="close()" class="btn indigo darken-1 close-btn">Close</button>
          </div>
    </div>
</div>

