.margin-button {
    margin-bottom: 8px;
}

.overlay-form {
    margin-top: 15%;
    display: flex;
}

#panell {
    background-color: rgba(255, 255, 255, 0.750);
}

::placeholder {
    color: rgb(133, 133, 133);
}