<div class="backdrop-modal-window">
    <div class="modal-window">
        <div>
            <form 
            [formGroup]="form"
            (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="input-field col s12">
                    <input maxlength="320" formControlName="name" class="validate" required placeholder="Add users to your board...">
                </div>
              </div>
              <button [disabled]="form.invalid" class="btn indigo darken-1 close-btn">Submit</button> 
            </form>
            <button (click)="close()" class="btn indigo darken-1 close-btn">Close</button>
          </div>
          <br>
          <div>
            <ng-container *ngFor="let user of data.acces; index as u">
              <div class="header-block">
                <span class="header-text">
                  {{user}}
                </span>
                <span>
                  <img *ngIf="checkUserForDelete(user)" (click)="deleteUser(u)" class="delete-png">
                </span>
              </div>
            </ng-container>
          </div>
    </div>
</div>

