<nav>
    <div class="nav-wrapper">
      <a routerLink="todolist" class="header-logo">Homepage</a>
      <ul id="nav-mobile" class="right">
        <li routerLinkActive="active"><a class='nav-el' routerLink="boards">Boards</a></li>
        <li routerLinkActive="active"><a class='nav-el' routerLink="todolist">Todo list</a></li>
        <li (click)="logout()"><a class='nav-el'>Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="todos-block">
    <router-outlet></router-outlet>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">