.wrapper {
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
}

.button-margin {
    margin-left: 5px;
    margin-right: 5px;
}

.delete-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem
}

.task-title {
    font-size: 16px;
}

.collection {
    margin-top: 0px;
    margin-bottom: 1px;
    border-radius: 8px;
}

.btn {
    border-radius: 5px;
}

.btn-newfolder {
    margin-bottom: 8px;
}

.all-containers {
    display: flex;
    flex-wrap: wrap;
}

.collection-container {
    min-height: 180px;
    max-width: 36%;
    min-width: 26%;

    flex-grow: 1;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background-color:rgba(255, 255, 255, 0.20);
    margin-right: 2px;
}