<div id="wrapper">
  <ng-container *ngFor="let task of tempArrayOfTodos; index as x">
    <div>
      <span
      [ngStyle]="toggleStyleCheck(task)">{{task?.title}}</span>
      <button (click)="deleteTask(task)">DELETE</button>
      <button (click)="toggleStatus(task)">Toggle</button>
    </div>
  </ng-container>
</div>
<br>





  <form (ngSubmit)="createNewTodo(newTodotask)">
      <input [(ngModel)]="newTodotask" name="first" #ctrl="ngModel" required placeholder="your todo...">
      <button type='submit' class="">Submit</button>
  </form>







<!-- <input [(ngModel)]="newTodotask" #ctrl="ngModel" required>
<button (click)="createNewTodo(newTodotask)" type='submit' class="">Submit</button> -->



<!-- <div>
  <form (ngSubmit)="createNewTodo(newItem.value)">
    <div class="form-group">
      <input type ="text" #newItem placeholder="your todo...">
      <button type='submit' class="">Submit</button>
    </div>
  </form>
</div> -->



<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->





