.wrapper {
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 5px;
}

.button-margin {
    margin-left: 3px;
    margin-right: 3px;
}

.delete-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.add-item-png {
    padding: 3px;
    width: 25px;
    height: 25px;
    margin: 3px;
    position: relative;
    float: right;
    cursor: pointer;
    content: url('/assets/images/add_item.png');
}

.header-text {
    font-size: 20px;
    margin: 5px;
}

.header-block {
    display: flex;
    justify-content: space-between;
}

.delete-png {
    padding: 3px;
    width: 25px;
    height: 25px;
    margin: 0 0 0 auto;
    cursor: pointer;
    content: url('/assets/images/delete.png');
}

.delete-folder-png {
    padding: 3px;
    width: 38px;
    height: 27px;
    margin: 2px;
    cursor: pointer;
    content: url('/assets/images/delete_folder.png');
}

.delete-png :hover {
    opacity: 0.5;
    background-color: pink;
    text-decoration: underline;
}

.task-title {
    font-size: 16px;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.collection-item {
    display: flex;
}

.collection .collection-item {
    padding: 3px 3px 3px 6px;
}

.collection {
    margin-top: 0px;
    margin-bottom: 1px;
    border-radius: 8px;
}

.btn {
    border-radius: 5px;
}

.btn-newfolder {
    margin-bottom: 8px;
}

.all-containers {
    display: flex;
    flex-wrap: wrap;
}

.collection-container {
    min-height: 180px;
    max-width: 32%;
    min-width: 32%;
    flex-grow: 1;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background-color:rgba(255, 255, 255, 0.20);
    margin-right: 2px;
    margin-bottom: 2px;
}

.task-list {
    width: 100%;
    height: 100%;
}

.cdk-drag-preview {
    background-color: gainsboro;
    box-shadow: 0px 0px 8px 2px gainsboro;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.block-boards {
    width: 98vw;
    margin: 5%;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
    display: flex;
    border: black solid 2px;
    background-color: rgba(240, 248, 255, 0.75);
    flex-wrap: wrap;

    bottom: 0;
    padding: 5px;
    position: fixed;
}

.board-element {
    border: black solid 1px;
    max-width: 23%;
    min-width: 23%;
    min-height: 50px;
    flex: 1;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    cursor: pointer;
    font-size: 22px;
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.create-board {
    background-color: rgba(57, 73, 171, 1.00);
    color: white;
    justify-content: center;
    text-align: center;
    line-height: 2em;
}

.create-board span {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}

.board-name {
    font-size: 26px;
    line-height: 26px;
    margin: 7px;
    padding: 7px;
}

.current-board {
    font-weight: bold
}

@media (max-device-width: 992px) {
    .collection-container {
        min-height: 120px;
        max-width: 48%;
        min-width: 48%;
    }
    .board-name {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (max-device-width: 500px) {
    .collection-container {
        min-height: 80px;
        max-width: 96%;
        min-width: 96%;
    }
    .board-name {
        font-size: 16px;
        line-height: 16px;
    }
}
