<div class="wrapper">
  <button class='btn indigo darken-1 btn-newfolder' (click)="openListDialog()"><i class="material-icons left">create_new_folder</i>Create new todolist</button>
  <div cdkDropListGroup class="all-containers">
    <ng-container *ngFor="let list of collection; index as y">
      <div id="{{list.collectionId}}" class="collection-container">
        <div class="header-block">
          <span class="header-text">{{list.name}}</span>
          <span><img (click)="serverDeleteCollection(y)" class="delete-folder-png"></span>
        </div>
        <div cdkDropList 
        (cdkDropListDropped)="onDrop($event, list.collectionId)"
        [cdkDropListData]="list.todos"
        class="task-list">
          <ng-container *ngFor="let task of list.todos; index as x">
            <ul cdkDrag class="collection">
              <li class="collection-item">
                <span class='task-title'>{{task?.title}}</span>                 
                <img (click)="serverRequestDelete(task, y)" class="delete-png">
              </li>
            </ul>
          </ng-container>
          <img (click)="openTodoDialog(list.collectionId, y)" class="add-item-png">
        </div>
        <br>
      </div>
    </ng-container>
  </div>
</div>
      