<div class="board-name">Board: {{boards[choisedBoard]?.name}}</div>

<div class="wrapper">
  <button class='btn indigo darken-1 btn-newfolder' (click)="openListDialog()"><i class="material-icons left">create_new_folder</i>Create new todolist</button>
  <div cdkDropListGroup class="all-containers">
    <ng-container *ngFor="let board of boards; index as b">
        <ng-container *ngFor="let list of board.lists; index as y">
          <div *ngIf="checkSelectedBoard(b)" id="{{list.collectionId}}" class="collection-container">
            <div class="header-block">
              <span class="header-text">{{list.name}}</span>
              <span><img (click)="deleteTodoList(y, b, board.id, list.collectionId)" class="delete-folder-png"></span>
            </div>
            <div cdkDropList 
            (cdkDropListDropped)="onDrop($event, list.collectionId)"
            [cdkDropListData]="list.todos"
            class="task-list">
              <ng-container *ngFor="let task of list.todos; index as x">
                <ul cdkDrag class="collection">
                  <li class="collection-item">
                    <span class='task-title'>{{task.title}}</span>                 
                    <img (click)="deleteTodo(task, list.collectionId, y, board.id, b)" class="delete-png">
                  </li>
                </ul>
              </ng-container>
              <img (click)="openTodoDialog(list.collectionId, y, board.id, b)" class="add-item-png">
            </div>
            <br>
          </div>
        </ng-container>
    </ng-container>
  </div>  
</div>
